---
permalink: "/a/"
layout: index.njk
css: celadon
title: "Sketches in Ascii: Articles"
---

<ul style="list-style-type: none">
{%- for article in collections.articles -%}
<li><a href="{{ article.url }}">{{ article.data.title }}</a></li>
{% endfor -%}
</ul>
