{% extends "base.njk" %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block content %} 
<article class="h-entry">
<h1 class="p-name">{{title}}</h1>
	<div class="e-content">{{ content | safe }}</div>
<p>Written by <a class="p-author h-card" href="https://celadon.moe/">Celadon Camellia</a> and published <time class="dt-published" datetime="{{ page.date.toISOString() | truncate(10,false,"") }}">{{page.date.toUTCString() | truncate(16,true,' ') }}</time>
</article>

{% set welcomments_config = {welcomments: welcomments, website_id: "Unnd1pNuNmeE1cdZfE6mFUjWo"} %}
{% renderFile "./_includes/welcomments/comments.liquid", welcomments_config %}
{% endblock %}