<footer>
    <!-- <a href="https://brainmade.org/"><img src="/images/buttons/human-made.gif"></a> -->
    
    <ul>
        <li><a href="https://bsky.app/profile/celadon-camellia.bsky.social" rel="me">@celadon-camellia.bsky.social on Bluesky</a></li>
        <li><a href="mailto:cellie@celadon.moe" rel="me">cellie@celadon.moe</a></li>
    
    
        <li><a href="/feed.xml">RSS Feed</a></li> <img width="16px" src="/images/svg/gourmet-almond-1.svg"><img width="16px" src="/images/svg/gourmet-almond-1.svg">
    <link href="https://github.com/ryuiro-kitsune" rel=me>
</ul>

    <p>
        <a href="https://xn--sr8hvo.ws/previous">←</a>
    An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
    <a href="https://xn--sr8hvo.ws/next">→</a>
</p>
    </footer>
    