$fg: #FFF;
$box-bg: #ADDFB3;

body {
    padding-left: 5%;
    padding-right: 5%;
    background-image: url("/images/tiles/green-wallpaper.png");
    color: $fg;
    font-family: EB Garamond, Serif;
    font-size: 18pt;
    a {
	color: $fg;
    }

    nav {
	ul {
	    text-align: center;
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    li {
		display: inline;
		padding-right: .5em;
		font-size: 1.5rem;
	    }
	}
    }

    header {
	padding-left: 0rem;
	padding-right: 0rem;
	margin-bottom: 4rem;
	h1 {
	    text-align: center;
	}
    }

    section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	.card {
	    color: black;
	    a { color: black;}
	    flex: 300px;
	    padding: 1rem;
	    margin: 1em;
	    background-color: $box-bg;
	    border-radius: 5px;
	}
    }

    article {
	h1 {
	    font-size: 2em;
	    margin-left: 2em;
	    margin-right: 2em;
	}
	p {
	    
	}
	div.hr {
	    content: "\2042";
	    text-align: center;
	    font-size: 1.5em;
	}
    }

    .small{
	font-size: .6em;
    }

    
    footer {
	margin-top: 16rem;
	a {padding-right: .5em;};
	text-align: center;
    }

}
