---
title: The Heir & the Thief
tags:
  - fanfic
  - story
  - storyIndex
permalink: "/stories/heir-and-thief/"
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/celadon.css" rel="stylesheet" />
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAAVUExURQAAAAAAAACAAAAFAAAiAAB/AAAMAIxBHj0AAAABdFJOUwBA5thmAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAAd0SU1FB+YMGgYTGICTrbMAAABXSURBVAjXTY7REYAwDEJpJ2hwAWEDh3AR9x9C0vNDvt4RSAJgUAvRcNTEBsVQSFyYEkWeoHzRVKDsClgdpgM77Ixi3TsTYGAqFac+1IksxGE/rv/R740XTYcL8o5XBewAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjItMTItMjZUMDY6MTk6MjQrMDA6MDCfpmNfAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIyLTEyLTI2VDA2OjE5OjI0KzAwOjAw7vvb4wAAACh0RVh0ZGF0ZTp0aW1lc3RhbXAAMjAyMi0xMi0yNlQwNjoxOToyNCswMDowMLnu+jwAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC" />
    <title>Sketches in ASCII: {{ title }}</title>
  </head>

  <body>
{% include "menu.html" %}

    <br />
    <div style="text-align: center">
    <h1>{{ title }}</h1>
    <br />
    <p>The update schedule and flow is likely going to be a bit erratic for a while.</p>
    <p>I'd advise taking each chapter as their own little episode or short.</p>
    <br />
    <p>I hope you enjoy :3</p>
    <br />
    
    <h2>
      {{ title }}
    </h1>
    <br />
    <ul style="list-style-type: none">
    {%- for post in collections.vriska -%}
    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {%- endfor -%}
    </ul>
    </div>

  </body>
  </html>
