article {
    max-width: 50%;
    font-family: "Noto Serif", Serif;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

.right-side {
    position: relative;
    left: 40%;
}

.card {
    
