@font-face {
    font-family: eb-garamond;
    src: url('/css/font.otf');
}
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
$font-stack: "EB Garamond";

// Catppuccin Latte scheme
$rosewater: #dc8a78;
$flamingo: #dd7878;
$pink: #ea76cb;
$mauve: #8839ef;
$red: #d20f39;
$maroon: #e64553;
$peach: #fe640b;
$yellow: #df8e1d;
$green: #40a02b;
$teal: #179299;
$sky: #04a5e5;
$sapphire: #209fb5;
$blue: #1e66f5;
$lavender: #7287fd;
$text: #4c4f69;
$subtext1: #5c5f77;
$subtext0: #6c6f85;
$overlay2: #7c7f93;
$overlay1: #8c8fa1;
$overlay0: #9ca0b0;
$surface2: #acb0be;
$surface1: #bcc0cc;
$surface0: #ccd0da;
$base: #eff1f5;
$mantle: #e6e9ef;
$crust: #dce0e8;

//15--25px
$base-size: clamp(15px,17px,25px);

// Mixins
@mixin smol-centering {
  display: grid;
  place-content: center;
}

body {
  font: 100% $font-stack;
  font-size: $base-size;
  color: $text;
  // font-feature-settings: "liga" 1;
  font-variant-ligatures: normal;
  font-feature-settings: "calt" 1; 
  // font-feature-settings: "onum";
  font-variant-numeric: oldstyle-nums;
   font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: $base;
  nav {
    color: $teal;
    a {
      color: $teal;
    }
  }
  main {
      width: clamp(45ch,60ch,75ch);
      padding: 1.5rem clamp(1rem,7%,4rem);
    strong {
      color: $mauve;
    }
    em {
      color: $peach;
    }

    article {
      time {
        font-size: $base-size;
        color: $subtext0;
      }
      img {
	  width: 45ch;
      }
      figcaption {
        font-size: $base-size;
        color: $subtext1;
	width: 45ch;
      }
    }
  }
  
}

