body {
    background-image: url("/images/tiles/green-wallpaper.png");
    color: #FFFFFF;
    font-family: EB Garamond, Serif;
    font-size: 18pt;
    text-align: center;
}

a {
    color: white;
}

header {
    margin-bottom: 4rem;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

nav ul li {
    display: inline;
    padding-right: .5em;
    font-size: 1.5rem;
}

article {
    max-width: 50%;
    padding-left: 25%;
}

@media screen and (max-width: 800px) {
    article {
	max-width: 90%;
	padding-left: 5%;
    }
}

/* article a { */
/*     color: black; */
/* } */

footer {
    margin-top: 16rem;
}
footer a {
    padding-right: .5em;
}
