.john {
    color: #0715CD;
}

.karkat {
    color: #626262;
}

.terezi {
    color: #008282;
}

.vriska {
    color: #004182;
}

.dave {
    color: #E00707;
}

.jade {
    color: #48C925;
}

.dirk {
    color: #F2A400;
}

.storybox {
    background-color: #e8d8c3;
    color: #000000;
    border-radius: 30px;
    padding: 1em 1em 20px;
    overflow-wrap: anywhere;
}

.chat {
    font-family: monospace;
}
