body {
    background-color: #002b36;
    color: #839496;
    font-family: "Cousine Nerd Font", "Courier New", monospace;
    border-style: dashed;
    border-color: #859900;
    border-width: .25em;
}

a {
    color: #2aa198;
}

h1 {
    padding-top: .5rem;
    padding-bottom: 1em;
    color: #6c71c4;
}

h2 {
    color: #2aa198;
}


.footnotes {
    margin-top: 12em;
}

.footnotes {
    padding-top: 12em;
}

.center {
    text-align: center;
}

.warning {
    color: #dc322f;
    border: 3px dotted #dc322f;
}
