---
layout: index
permalink: "notes/"
eleventyNavigation:
  key: Notes
  draft: true
draft: true
---

<section class="h-feed">
<h3 class="p-name">Notes</h3>
<p>By <a class="h-card" rel="me" href="https://celadon.moe">Cellie</a></p>
<ul>
{%- for post in collections.notes | reverse -%}
  <li><p class="h-entry"><a class="u-url p-name" href="{{ post.url }}">{{ post.date.toISOString() | truncate(10,false,"") }}</a>
<p class="e-content">{{ post.content | truncate(600) | safe }}</p>
  </li>

{%- endfor -%}
</ul>
</section>