@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@font-face {
  font-family: eb-garamond;
  src: url("/css/font.otf");
}
article .p-content p:last-child:after {
  font-family: "Noto Sans Runic", serif;
  font-weight: 1000;
  font-style: normal;
  content: "ᛖ";
  display: inline;
  font-size: 0.9em;
  line-height: 0.7;
  display: inline;
  border-radius: 50%;
  background-color: #40a02b;
  color: #4c4f69;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 8px;
  margin-right: 8px;
}

.e-content p:first-of-type:first-letter {
  font-family: "EB Garamond Initials";
  float: left;
  font-size: 4rem;
  font-weight: 700;
  line-height: 2rem;
  padding-top: 4px;
  padding-left: 6px;
  margin-right: 0;
  padding-right:0 ;
}

.footnote-content p:first-of-type:first-letter,
.footnotes p:first-of-type:first-letter,
 blockquote p:first-of-type:first-letter,
 figcaption p:first-of-type:first-letter {
  float:inherit;
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
  padding:inherit;
  initial-letter:inherit;
  color: inherit;
  -webkit-initial-letter:inherit;
  line-height:inherit
}

.footnotes-sep {
  margin-top: 12em;
}
body {
  font: 100% "EB Garamond";
  font-size: 20px;
  color: #4c4f69;
  text-align: justify;
  text-justify: inter-word;
  font-variant-ligatures: normal;
  font-feature-settings: "calt" 1;
  font-variant-numeric: oldstyle-nums;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #eff1f5;
}
body img {
  max-width: 90%;
  height: auto;
}
body nav {
  font-size: 15px;
}
body nav a:hover {
  color: #04a5e5;
}
nav a:visited {
  color: inherit;
}

/* Set some base styles, so it is easy to see */
.skip-link {
  position: absolute;
  display: inline-block;
  padding: .375rem .75rem;
  line-height: 1;
  font-size: 1.25rem;
  background-color: rebeccapurple;
  color: white;
  /* Ensure the Y position is set to zero and any movement on the transform property */
  transform: translateY(0);
  transition: transform 250ms ease-in;
}

/* When it is not focused, transform its Y position by its total height, using a negative value, so it hides above the viewport */
.skip-link:not(:focus) {
  transform: translateY(-10rem);
}

body main {
  width: 75ch;
  padding: 1.5rem clamp(1rem, 7%, 4rem);
}
body main strong {
  color: #8839ef;
}
body main em {
  color: #fe640b;
}
body main article time {
  font-size: 20px;
  color: #6c6f85;
  line-height: 1.4;
}
body main article img {
  max-width: 16em;
}
body main article figcaption {
  font-size: 20px;
  color: #5c5f77;
  width: 45ch;
}

a {
  color: #209fb5;
  text-decoration: none;
  color: inherit;
  transition-property: background;
  transition-duration: 0.2s;
}

a:after {
  position: relative;
  content: "°";
  font-size: 90%;
  top: -0.1em;
  color: #e64553;
  font-feature-settings: "caps";
  font-variant-numeric: normal;
}



a:hover,a:visited {
  color: #40a02b;
}

footer ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 1em;
}

/*# sourceMappingURL=mark-3.css.map */

p {
  text-indent: 25px;
}