---js
{
    pagination: {
	data: "descend",
	size: 1,
	alias: "story",
	addAllPagesToCollections: true
	
    },
    permalink: "/stories/s/descend/e/{{ story.title | slugify }}/",
    tags: ["feed", "descend"],
    css: "celadon",
    eleventyComputed: {
	date(data) {
	    const _date = new Date(data.story.date);
	    // HACK: Inject the computed date into the internal `page` object. Eeww.
	    data.page.date = _date;
	    return _date;
	},
	title(data) {
	    const _title = data.story.title;
	    return _title;
	}
    }
}
---
{%- extends "base.html" -%}

{% block title %}
<title>Sketches in Ascii: Descend {{story.number}}</title>
{% endblock %}

{% block style %}
    h1 {
    padding-bottom: 1em;
    margin-bottom: 0;
    font-size: 2rem;
    }
    h2 {
    font-size: 1rem;
    padding-top: 0;
    margin-top: 0;
    }
{% endblock %}

{% block heading %}{% endblock %}

{%- block content -%}
<div style="padding-bottom: 300px">
  <article class="h-entry">
    <h1 class="p-name">{{ story.title | safe}}</h1>
    <h2>Descend: Chapter {{story.number}}</h2>
    <br>
    <div id="{{ title | slugify }}" class="e-content">
      {{ story.content | safe }}
    </div>
    <br>
    <nav>
      <ul>
	<li><a style="color: #FFF" href="/stories/s/descend/e/{{ story.previous | slugify }}">Previous Entry</a></li>
	<li><a style="color: #FFF" href="/stories/s/descend/home/">Home</a></li>
	<li><a style="color: #FFF" href="/stories/s/descend/e/{{ story.next | slugify }}">Next Entry</a></li>
      </ul>
    </nav>
    <p style="font-size: .5em">Published by <a class="p-author h-card" href="https://celadon.moe">Celadon Camellia</a> on <time class="dt-published" datetime="{{ page.date | formatDate('YYYY-MM-DD') }}">{{ page.date | formatDate("YYYY/MM/DD H:mm z") }}</time></p>
    <p style="font-size: .5em">Wordcount: {{ story.content | wordcount }}
  </article>
</div>
{%- endblock -%}
