---
title: "Sketches in Ascii: Descend Home"
css: celadon
permalink: '/stories/s/descend/home/'
---
{% extends "base.html" %}

{% block content %}
<h2>Entries</h2>

<ul style="list-style-type: none;margin-left:35%;text-align: left">
  {%- for post in collections.descend -%}
  <li><a href="{{ post.url }}">{{ post.data.date | formatDate("M/DD") }} &mdash; {{ post.data.title }}</a></li>
  {%- endfor -%}
</ul>

{% endblock %}
