---
layout: index.njk
css: celadon
title: "Sketches in Ascii: Stories"
permalink: "/s/"
---
<main>
  <h2>Story Index</h2>
  <p><a href="/stories/s/collegestuck/home">Collegestuck</a></p>
</main>
</body>
</html>
