---
layout: index.njk
css: celadon
title: "Sketches in Ascii: Stories"
permalink: "/s/"
---
<main>
  <h2>Story Index</h2>
  <h4><a href="/stories/s/collegestuck/home">Collegestuck</a></h4>
  
  <h4><a href="/stories/s/descend/home">Descend</a></h4>
  
</main>
</body>
</html>
