{%extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="/css/cloud.css">
<link rel="stylesheet" href="/css/celadon-neo.css">
{%endblock%}

{% block content %}
<h1>{{ taxonomy.name | capitalize }}</h1>
<ul class="cloud" role="navigation" aria-label="{{taxonomy.name}} tag cloud">
  {% set total = 0 %}
  {% for term in terms %}
  {% set len = term.pages | length %}
  {% set_global total = total + len %}
  {% endfor %}

{% for term in terms %}
  <li >
    {% set weight = (term.page_count / total) * 25 %}
  <a href="{{term.path}}" style="font-size: {{weight}}rem">{{term.name | title}}</a>
</li>
{% endfor %}
</ul>
{% endblock %}
