---
title: Default Title
permalink: "/articles/{{ title | slugify }}/"
tags: ["feed", "article"]
date: git Created
---
<!DOCTYPE html xmlns="http://www.w3.org/1999/xhtml">
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/celadon.css" rel="stylesheet">
    <link rel="icon" href="/images/logo.svg">
    <title>Sketches in Ascii: {{ title }}</title>
  </head>
  <body>

    {% include "menu.html" %}

    <div>
      <article>
	<h1>{{ title }}</h1>
	<br />
	{{ content | safe }}
      </article>

{% include "footer.html" %}
  </body>
</html>
