<footer>
<a href="https://brainmade.org/"><img src="/images/buttons/human-made.gif"></a>

<ul>
	<li><a href="https://sakurajima.social/@celadonCamellia" rel="me">@celadonCamellia on the Fediverse.</a></li>
	<li><a href="https://bsky.app/profile/celadon-camellia.bsky.social" rel="me">@celadon-camellia.bsky.social on Bluesky</a></li>
	<li><a href="mailto:cellie@celadon.moe" rel="me">cellie@celadon.moe</a></li>
</ul>
<li><a href="/feed.xml">RSS Feed</a></li>
<link href="https://github.com/ryuiro-kitsune" rel=me>
</footer>
