{% extends "base.njk" %}

{% block head %}
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
{% endblock %}

{% block content %}
	{{ content | safe }}
{% endblock %}
