<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/celadon.css">
	<link rel="icon" href="/images/logo.svg">
	<title>Sketches in Ascii: {{ title }}</title>
  </head>
  <body class="center">

    {% include "menu.html" %}
    
    <h1>{{ title }}</h1>

    {{ content | safe}}

      {% include "footer.html" %}
  </body>
</html>
