<header>
  <h1><a href="/">Sketches in Ascii</a></h1>
  <nav>
    <ul>
      {%- for entry in menu -%}
      <li><a href="{{ entry.url }}">{{ entry.name }}</a></li>
      {% endfor -%}
    </ul>
  </nav>
</header>
