---
title: Default Title
subtitle:
permalink: "/stories/{{ series | slugify }}/{{ title | slugify }}/"
authornote:
tags: feed
previous: home
next: home
series: collegestuck
date: git Created
---
<!DOCTYPE html xmlns="http://www.w3.org/1999/xhtml">
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/celadon.css" rel="stylesheet">
    <link href="/css/homestuck.css" rel="stylesheet">
    <link rel="icon" href="/images/logo.svg">
    <title>Sketches in Ascii: {{ title }}</title>
  </head>
  <style>
    h1 {
	color: #000;
	padding-bottom: 1em;
	margin-bottom: 0;
	font-size: 2rem;
    }
    h2 {
	color:#000;
	font-size: 1rem;
	padding-top: 0;
	margin-top: 0;
    }
  </style>
  <body>

    {% include "menu.html" %}
    
    <div style="padding-bottom: 300px">
      <article class="h-entry">
	<div class="storybox">
	  <h1 class="p-name">{{ title | safe}}</h1>
	  <h2>
	    {% if subtitle %}
	    {{ subtitle }}
	    {% elif series and not subseries %}
	    A {{ series }} story.
	    {% elif number and series and subseries %}
	    {{ series }}&mdash;{{ subseries }}: {{ number }}
	    {% endif %}
	  </h2>
	  <br />
	  <div id="{{ title | slugify }}" class="e-content">
	    {{ content | safe }}
	    <br />
	    <nav>
	      <ul>
		<li><a href="/stories/{{ series | slugify }}/{{ previous | slugify }}">Previous Entry</a></li>
		<li><a href="/stories/{{ series | slugify }}/home/">Home</a></li>
		<li><a href="/stories/{{ series | slugify }}/{{ next | slugify }}">Next Entry</a></li>
	      </ul>
	    </nav>
	  </div>
	  <br />
	  </div>
	  <div>
	    <h3>Author Note:</h3>
	    {{ authornote | safe }}
	  </div>
	<p style="font-size: .5em">Published by <a class="p-author h-card" href="https://celadon.moe">Celadon Camellia</a> on <time class="dt-published" datetime="{{ date | slugDate}}">{{date | formatDate }}</time></p>
	<p style="font-size: .5em">Wordcount: {{ content | wordcount }}
      </article>

      </div>

      <!--<div class="card">

	  <img src="/images/logo.png" width="256rem" style="padding-left: 5rem;" />

	  <p style="font-size: 2em; max-width: 16em;"><span style="color: #268bd2">Celadon Camellia</span> is a person who lives in the internet and for some reason has dedicated an entire website to his bullshit. <br />Enjoy! ;)</p>

      </div>-->
      {% include "footer.html" %}
  </body>
</html>
