<!DOCTYPE html>
<html>
    <head>
        <title>Sketches in Ascii</title>
        <link rel="stylesheet" href="/css/mark-3.css">
    </head>
    <body>
        <!-- <div class="metatext"> -->
      
            {% include "menu.html" %}
        <!-- </div> -->
        <div class="theme-switches">

        </div>

        <main>

            <div class="h-card">
                <p>
                    <a class="u-url" rel="me" href="https://celadon.moe"><span class="p-name">Cellie Camellia</span></a ><img class="u-photo" width="15px" src="/images/logo.svg" />
                </p>
            </div>
        <p>Greetings friends and enemies! I welcome you all to my humble slice of land on this raging sea we call the internet and I hope you enjoy your stay.</p>
        <p>Feel free to take off your coats and sit yourselves down in my drawing room while I fix us all some coffee and/or tea.</p>
    
        </main>
        {% include "footer.html" %}
    </body>
</html>